name: Docker

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TAKARO_CI_APP_ID }}
          private-key: ${{ secrets.TAKARO_CI_APP_PRIV_KEY }}

      - name: Setup Node.js for TypeDoc
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'

      - name: Generate TypeDoc from main Takaro repo
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: ./scripts/generate-typedoc.sh main

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/takaro-web-docs
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr

      - name: Get Git commit timestamps
        run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/takaro-web-docs:latest
          cache-to: type=inline
          sbom: true
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            TAKARO_VERSION=${{ steps.meta.outputs.version }}
            TAKARO_COMMIT=${{ github.sha }}
            TAKARO_BUILD_DATE=${{ env.TIMESTAMP }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
